.title-home {
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 25px;
}

.item-statistical {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contaner-statistical {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 5px;
  width: 17%;
  height: 60px;
}

.title-block {
  font-weight: 400;
  color: black;
  font-size: 19px;
  margin-left: 5px;
}

.statistical-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 0px 10px;
}

.statistical-icon img {
  width: 24px;
  height: 24px;
}

.statistical-number {
  font-weight: 600;
  font-size: 1em;
  margin: 7px 0px 0px 0px;
}

.statistical-title {
  font-size: 0.8em;
  color: #555;
}

.selling {
  margin: 10px 0px;
}

.title-table {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
  border: 1px solid #e0e0e0e0;
  padding: 10px 0px 0px 30px;
  background-color: #f0f0f0f0;
  font-weight: 500;
}
.title-table-category {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  border: 1px solid #e0e0e0e0;
  padding: 10px 0px 0px 30px;
  background-color: #f0f0f0f0;
  font-weight: 500;
}
.add-button {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* CSS cho dropdown */
.filter-dropdown {
  position: relative;
  display: inline-block;
}

.filter-dropdown-select {
  background-color: #f1f1f1;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Styles cho dropdown menu */
.filter-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.option-menu {
  width: 95%;
  display: flex;
  margin: 20px 20px 10px 0px;
  justify-content: space-between;
}
.filter-dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: #333;
}

.filter-dropdown-content a:hover {
  background-color: #ddd;
}
