.detail_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 30px;
  height: 100%;
}
.detail_container_image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
}
.detail_image {
  width: 400px;
  height: 550px;
  object-fit: cover;
}
.detail_name,
.detail_email,
.detail_phone,
.detail_location,
.detail_gender {
  font-size: 17px;
}
.detail_content {
  height: 85%;
  display: flex;
  font-size: 17px;
  flex-direction: column;
  justify-content: center;
}

.detail_content .detail_content_customer div {
  display: flex;
  align-items: center;
}
.detail_content_customer {
  display: flex;
  flex-direction: column;
  line-height: 35px;
}
.detail_content div img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.detail_content div p {
  color: #008000;
  font-size: 15px;
  margin: 10px 20px;
  text-decoration: underline;
}
.detail_title {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: underline;
}
/*  */
.box {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  margin: 10px;
}
.box p {
  background-color: #efefef;
  width: 100%;
  padding: 10px;
  font-weight: 500;
  color: #666666;
  margin: 0;
}
.box div {
  padding: 15px 10px;
}
.pay {
  height: 45vh;
}
.pay div {
  display: flex;
  justify-content: space-between;
}
