.product-container {
  display: grid;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
  border: 1px solid #e0e0e0e0;
  border-top: none;
  padding: 10px 0px 10px 30px;
  grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
}
.category-container {
  display: grid;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
  border: 1px solid #e0e0e0e0;
  border-top: none;
  padding: 10px 0px 10px 30px;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
}

.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.title-product {
  font-size: 22px;
  font-weight: 400;
}

.product-quantity {
  background-color: #c0c0c0c0;
  border-radius: 5px;
  width: 85px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.product-rate img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.view-detail {
  text-decoration: none;
}
.view-delete,
.view-update {
  color: red;
  text-decoration: none;
  margin-right: 10px;
}
.view-update {
  color: green;
}
.btn_delete,
.btn_update {
  border: none;
  background-color: #777777;
  margin: 0 10px;
  padding: 5px 20px;
  color: aliceblue;
}
@media (max-width: 1023px) {
}
