.main-container {
  justify-content: center;
  width: 600px;
  z-index: 99;
  position: absolute;
  left: 32vw;
  background-color: white;
  padding: 0 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid var(--gh-grey-4);
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 4px;
}
.modal-container input {
  border: none;
  border-bottom: 1px solid #c0c0c0;
  width: 100%;
  margin: 10px 0px;
  padding: 0.4rem 5px;
  outline: none;
  font-size: 14px;
}
.modal-container button,
.modal_container_delete button {
  background-color: #47474c;
  color: #fff;
  border: none;
  margin: 30px 0px;
  width: 45%;
  margin: 15px 10px;
}
.modal-container button {
  padding: 10px;
}
.modal_container_delete button {
  padding: 0px;
}

.title_dialog_delete {
  font-size: 25px;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
}
.modal-container label {
  font-size: 14px;
  color: green;
}
.icon_add_avatar {
  position: absolute;
  top: 190;
  left: 320;
  width: 40px;
  height: 40px;
}
