.modal_container_category,
.modal_container_event,
.modal_container_delete,
.modal_container_shop,
.modal_container_customer,
.modal_container_product {
  z-index: 999;
  width: 600px;
  pointer-events: auto;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid var(--gh-grey-4);
  border-radius: 4px;
  padding: 0px 20px;
  color: #333333;
}
.main-container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100vh;
  z-index: 9999;
}

.modal-container input {
  border: none;
  border-bottom: 1px solid #c0c0c0;
  width: 100%;
  margin: 10px 0px;
  padding: 0.4rem 5px;
  outline: none;
  font-size: 14px;
}

.modal-container button,
.modal_container_delete button {
  background-color: #47474c;
  color: #fff;
  border: none;
  margin: 30px 0px;
  width: 45%;
  margin: 15px 10px;
}
.modal-container button {
  padding: 10px;
}
.modal_container_delete button {
  padding: 0px;
}

.title_dialog_delete {
  font-size: 25px;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
}
.modal-container label {
  font-size: 14px;
  color: green;
}
.icon_add_avatar {
  position: absolute;
  top: 190;
  left: 320;
  width: 40px;
  height: 40px;
}
@media (max-width: 1023px) {
}
